main {
    max-width: 100%;
    padding-left: 0px;
    display: block;

}

body {
    background-color: lavenderblush;
    font-family: Helvetica, sans-serif;
}

img {
    max-width: 100%;
    height:auto;
}

#md-photo {
    max-height: 300px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

#container {
    margin: auto;
}

.header {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.header__heading1 {
    font-weight: bold;
}

.aside {
    margin: auto;
    height: auto;
    display: inline-block;

}

.aside__sidebar {
    list-style: none;
    padding-left: 0px;
}

.main {
    height: auto;
    margin: 0 auto;
}

.main__heading3 {
    font-weight: bold;
}

.main__form {
    max-width: 50%;
}

.main__form label {
    display: block;
    margin: 0px 0px 15px 0px;
}

.main__form label > span {
    width: 500pt;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}

.main__form input[type=submit], .main__form input[type=button] {
    border: none;
    padding: 8px 15px 8px 15px;
    background-color: rosybrown;
}

.form__textarea {
    height: 100px;
    width: 55%;
}

footer {
    text-align: center;


}

.row::after {
    content: "";
    clear: both;
    display: table;
}
