main {
    margin: 0 auto;
    width: 74%;
    padding-left: 0px;
    float: left;
}

body {
    background-color: lavenderblush;
    font-family: Helvetica, sans-serif;
}

img {
    border-image-width: 150px;
    height: 150px;
    float: left;
    margin: 5px;
}

#container {
    width: 1000px;
    margin: auto;
}

.header {
    height: 160px;
    margin: 0 auto;
    display: block;
}

.header__heading1 {
    font-weight: bold;
}

.aside {
    margin: auto;
    width: 25%;
    height: auto;
    display: inline-block;

}

.aside__sidebar {
    list-style: none;
    padding-left: 0px;
}

.main {
    height: auto;
    margin: 0 auto;
    display: inline-block;
}

.main__heading3 {
    font-weight: bold;
}

.main__form {
    max-width: 500px;
}

.main__form label {
    display: block;
    margin: 0px 0px 15px 0px;
}

.main__form label > span {
    width: 500pt;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}

.main__form input[type=submit], .main__form input[type=button] {
    border: none;
    padding: 8px 15px 8px 15px;
    background-color: rosybrown;
}

.form__textarea {
    height: 100px;
    width: 55%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 50%;
}
