main {
    max-width: 100%;
    padding-left: 0px;
    display: block;
}

body {
    background-color: #8eacbb;
    font-family: Roboto, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

#md-photo {
    max-height: 200px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
}

.header {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: #607d8b;
    border-radius: 25px
}

.header__heading1 {
    font-weight: bold;
    height: 100%;
}

.aside {
    margin: auto;
    height: auto;
    display: inline-block;
}

.aside__sidebar {
    list-style: none;
    padding-left: 0px;
}

.main {
    height: auto;
    margin: 0 auto;
}

.main__heading3 {
    font-weight: bold;
}

.main__form {
    max-width: 100%;
}

.main__form label {
    display: block;
    margin: 0px 0px 15px 0px;
}

.main__form label > span {
    width: 100%;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}

.main__form input[type=submit], .main__form input[type=button] {
    border: none;
    padding: 8px 15px 8px 15px;
    background-color: #34515e;
    color: #8eacbb;
}

.form__textarea {
    min-height: 200px;
    width: 100%;
}

.footer {
    text-align: center;
    background: #607d8b;
    border-radius: 25px;
    padding-top: 100px !important;
}

.skew_header {
    clip-path: none;
}

.skew_footer {
    clip-path: none;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
