main {
    margin: 0 auto;
    width: 74%;
    padding-left: 0px;
    float: left;
}

body {
    background-color: lavenderblush;
    font-family: Helvetica, sans-serif;
}

img {
    border-image-width: 150px;
    height: 150px;
    float: left;
    margin: 5px;
}

header > div {
    height: 150px;
}

aside {
    margin: 0 auto;
    width: 25%;
    height: auto;
    display: inline;
}

ul li {
    list-style: none;
}

div {
    width: 1000px;
    height: auto;
}

footer {
    position: absolute;
    bottom:0;
    left: 50%;
}