main    {
    width: 1000px;
    alignment: center;
    }

body {
    background-color: lavenderblush;
    font-family: Helvetica, sans-serif;
}

img {
    border-image-width: 150px;
    height: 150px;
    float: left;
    margin: 5px;
}

div {
    height: 150px;
}